<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BNChecklist</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbd876">  <td>17/05/26 10:31:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBay_Footer.Hudson_Bay_27_Footer_Implementation()[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">Hudson_Bay_27_Footer_Implementation</td> 
  <td>TestNG@2058754069</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/05/26 10:34:40</td>   <td>194179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HBay_Footer.afterClass()[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2058754069</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/05/26 10:34:40</td>   <td>193865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HBay_Footer.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2058754069</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/05/26 10:34:41</td>   <td>195324</td> <td>&nbsp;</td><td title="&lt;&lt;HBay_Footer.afterTest()[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2058754069</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/05/26 10:31:26</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBay_Footer.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2058754069</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/05/26 10:31:14</td>   <td>-11523</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBay_Footer.beforeTest()[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2058754069</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>17/05/26 10:31:14</td>   <td>-11536</td> <td title="&gt;&gt;ExtentRptManager.completeReport()[pri:0, instance:hbPages.HBay_Footer@6ee52dcd]">&gt;&gt;completeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
</table>
