<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>17/08/02 16:59:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyAccountLanding.Hudson_Bay_911_MyAccountlanding()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">Hudson_Bay_911_MyAccountlanding</td> 
  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 17:02:39</td>   <td>192747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyAccountLanding.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 17:02:39</td>   <td>193119</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyAccountLanding.afterTest()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 16:59:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyAccountLanding.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 16:59:16</td>   <td>-9709</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyAccountLanding.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 17:02:41</td>   <td>195223</td> <td title="&lt;&lt;Hudson_Bay_MyAccountLanding.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>17/08/02 16:59:16</td>   <td>-9719</td> <td title="&gt;&gt;ExtentRptManager.completeReport()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@59717824]">&gt;&gt;completeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
</table>
