<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HBC Complete Stories</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bdb565">  <td>17/08/02 12:18:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_CartPage.Hudson_Bay_895_CartPage()[pri:0, instance:hbPages.Hudson_Bay_CartPage@1500955a]">Hudson_Bay_895_CartPage</td> 
  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>17/08/02 12:19:22</td>   <td>81769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_SignIn.Hudson_Bay_909_SignIn()[pri:0, instance:hbPages.Hudson_Bay_SignIn@cb51256]">Hudson_Bay_909_SignIn</td> 
  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 12:13:51</td>   <td>-249585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyAccountLanding.Hudson_Bay_911_MyAccountlanding()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@528931cf]">Hudson_Bay_911_MyAccountlanding</td> 
  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>17/08/02 12:17:00</td>   <td>-60940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyProfile.Hudson_Bay_912_MyProfile()[pri:0, instance:hbPages.Hudson_Bay_MyProfile@32d2fa64]">Hudson_Bay_912_MyProfile</td> 
  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>17/08/02 12:13:51</td>   <td>-249550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyAddressBook.Hudson_Bay_913_MyAddressBook()[pri:0, instance:hbPages.Hudson_Bay_MyAddressBook@7a187f14]">Hudson_Bay_913_MyAddressBook</td> 
  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>17/08/02 12:20:53</td>   <td>171910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyNotificationPref.Hudson_Bay_914_NotificationPreference()[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">Hudson_Bay_914_NotificationPreference</td> 
  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="b7696f">  <td>17/08/02 12:17:25</td>   <td>-35480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyOrders.Hudson_Bay_915_MyOrders()[pri:0, instance:hbPages.Hudson_Bay_MyOrders@5bb21b69]">Hudson_Bay_915_MyOrders</td> 
  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>17/08/02 12:13:51</td>   <td>-249262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hudson_Bay_MyWishlist.Hudson_Bay_916_MyWishlist()[pri:0, instance:hbPages.Hudson_Bay_MyWishlist@3234e239]">Hudson_Bay_916_MyWishlist</td> 
  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>17/08/02 12:16:50</td>   <td>-70484</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyWishlist.afterClass()[pri:0, instance:hbPages.Hudson_Bay_MyWishlist@3234e239]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>17/08/02 12:17:50</td>   <td>-11170</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyAddressBook.afterClass()[pri:0, instance:hbPages.Hudson_Bay_MyAddressBook@7a187f14]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="b7696f">  <td>17/08/02 12:19:12</td>   <td>71001</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyOrders.afterClass()[pri:0, instance:hbPages.Hudson_Bay_MyOrders@5bb21b69]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>17/08/02 12:20:44</td>   <td>163167</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyProfile.afterClass()[pri:0, instance:hbPages.Hudson_Bay_MyProfile@32d2fa64]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>17/08/02 12:20:59</td>   <td>178175</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyNotificationPref.afterClass()[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>17/08/02 12:25:20</td>   <td>439384</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_SignIn.afterClass()[pri:0, instance:hbPages.Hudson_Bay_SignIn@cb51256]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="bdb565">  <td>17/08/02 12:26:41</td>   <td>519872</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_CartPage.afterClass()[pri:0, instance:hbPages.Hudson_Bay_CartPage@1500955a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>17/08/02 12:16:50</td>   <td>-70854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyWishlist.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyWishlist@3234e239]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 12:17:14</td>   <td>-46940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyAccountLanding.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@528931cf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>17/08/02 12:17:49</td>   <td>-11217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyAddressBook.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyAddressBook@7a187f14]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="b7696f">  <td>17/08/02 12:19:12</td>   <td>70930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyOrders.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyOrders@5bb21b69]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>17/08/02 12:20:44</td>   <td>163113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyProfile.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyProfile@32d2fa64]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>17/08/02 12:20:59</td>   <td>178115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyNotificationPref.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>17/08/02 12:25:20</td>   <td>439345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_SignIn.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_SignIn@cb51256]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="bdb565">  <td>17/08/02 12:26:41</td>   <td>519827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_CartPage.afterMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_CartPage@1500955a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 12:17:14</td>   <td>-46855</td> <td>&nbsp;</td><td title="&lt;&lt;Hudson_Bay_MyAccountLanding.afterTest()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@528931cf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 12:13:51</td>   <td>-249588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyAccountLanding.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@528931cf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>17/08/02 12:13:51</td>   <td>-249550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyAddressBook.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyAddressBook@7a187f14]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>17/08/02 12:13:51</td>   <td>-249263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyWishlist.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyWishlist@3234e239]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>17/08/02 12:17:00</td>   <td>-60940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyProfile.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyProfile@32d2fa64]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="b7696f">  <td>17/08/02 12:17:25</td>   <td>-35480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyOrders.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyOrders@5bb21b69]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="bdb565">  <td>17/08/02 12:18:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_CartPage.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_CartPage@1500955a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>17/08/02 12:19:22</td>   <td>81769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_SignIn.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_SignIn@cb51256]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>17/08/02 12:20:53</td>   <td>171910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyNotificationPref.beforeMethod(java.lang.reflect.Method)[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>17/08/02 12:13:40</td>   <td>-260443</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyAddressBook.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyAddressBook@7a187f14]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 12:13:40</td>   <td>-260443</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyAccountLanding.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@528931cf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>17/08/02 12:13:40</td>   <td>-260442</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyWishlist.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyWishlist@3234e239]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>17/08/02 12:16:50</td>   <td>-70267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyProfile.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyProfile@32d2fa64]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="b7696f">  <td>17/08/02 12:17:16</td>   <td>-44779</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyOrders.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyOrders@5bb21b69]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="bdb565">  <td>17/08/02 12:17:52</td>   <td>-8843</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_CartPage.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_CartPage@1500955a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1415636121</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>17/08/02 12:19:14</td>   <td>73324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_SignIn.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_SignIn@cb51256]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1952496693</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>17/08/02 12:20:44</td>   <td>163217</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hudson_Bay_MyNotificationPref.beforeTest()[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1199844194</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/08/02 12:26:43</td>   <td>522138</td> <td title="&lt;&lt;Hudson_Bay_MyAccountLanding.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyAccountLanding@528931cf]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>17/08/02 12:26:43</td>   <td>522187</td> <td title="&lt;&lt;Hudson_Bay_MyAddressBook.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyAddressBook@7a187f14]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>17/08/02 12:26:43</td>   <td>522189</td> <td title="&lt;&lt;Hudson_Bay_MyWishlist.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyWishlist@3234e239]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>17/08/02 12:26:43</td>   <td>522190</td> <td title="&lt;&lt;Hudson_Bay_MyProfile.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyProfile@32d2fa64]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="b7696f">  <td>17/08/02 12:26:43</td>   <td>522191</td> <td title="&lt;&lt;Hudson_Bay_MyOrders.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyOrders@5bb21b69]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="bdb565">  <td>17/08/02 12:26:43</td>   <td>522194</td> <td title="&lt;&lt;Hudson_Bay_CartPage.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_CartPage@1500955a]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>17/08/02 12:26:43</td>   <td>522195</td> <td title="&lt;&lt;Hudson_Bay_SignIn.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_SignIn@cb51256]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>17/08/02 12:26:43</td>   <td>522196</td> <td title="&lt;&lt;Hudson_Bay_MyNotificationPref.closeReporter()[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>17/08/02 12:13:40</td>   <td>-260458</td> <td title="&gt;&gt;ExtentRptManager.completeReport()[pri:0, instance:hbPages.Hudson_Bay_MyNotificationPref@12f41634]">&gt;&gt;completeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
</table>
